@media screen and (min-width: 768px) {
    #descricao {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 360px) {
    #descricao {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
      #areas .icon {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
}

@media screen and (max-width: 420px) {
    .border-first-button {
        margin-right: -20px;
    }
}

@media screen and (max-width: 438px) {
    #blog-news-title {
        font-size: 20px;
    }
}