@media screen and (max-width: 991px) {
    #banner-text {
        margin: auto;
        padding: 0px 10px 20px 10px;
    }
}

@media screen and (min-width: 768px) {
    #descricao {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 360px) {
    #descricao {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
      #areas .icon {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
}

@media screen and (max-width: 767px) {
    .footer-social-icon {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 390px) { /* 420px */
    .border-first-button {
        margin-right: -25px;
    }

    .author { 
        margin-left: -20px;
    }
}

@media screen and (max-width: 480px) {
    .right-content , .post-item {
        display: none;
    }

    .down-content {
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 420px) { /* 420px */
    .border-first-button {
        margin-right: -25px;
    }
}

@media screen and (max-width: 366px) {
    .author { 
        margin-left: -25px;
    }
}